body {
    background-color: rgb(173, 216, 88);
    margin: 14px;
    height: 100vh;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);

}

.box {
    display: flex;
    justify-content: center;
    align-items: flex-start;    /* Align items to the start of the cross axis (top-left corner) */  
    font-size: 2em;
    color: darkslateblue;
}

.container > .box:nth-child(1n) {
    background-color: lightblue;
}
.container > .box:nth-child(2n) {
    background-color: lightgrey;
}
.container > .box:nth-child(3n) {
    background-color: lightcyan;
}
.container > .box:nth-child(4n) {
    background-color: lemonchiffon;
}

/* .a {
    background-color: lightgrey;
}
.b {
    background-color: lightblue;
}
.c {
    background-color: lightsalmon;
}
.d {
    background-color: lightpink;
}
.e {
    background-color: lightcoral;
} */